name: Build and deploy dotnet to Azure Function App - BackgroundProcessor

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './Background Job Processor'
  DOTNET_VERSION: '8.0.x'   # see Fix #2 below

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Publish
        shell: bash
        run: |
          pushd "${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}"
          dotnet publish -c Release -o ./publish
          popd

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7EDB05338ADE49CBA3B83D895000BD22 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_1F04B0AA8C8944A1ABDE8B69A38F4C09 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_7252317C2A014155AAF1D4C8356878A7 }}

      - name: Deploy
        uses: Azure/functions-action@v1
        with:
          app-name: 'BackgroundProcessor'
          slot-name: 'Production'
          package: "${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/publish"
